<div class='date-day'>{{day}}<sup>{{ending}}</sup> {{weekDay}}</div>
<div class='all-time-elem'>
<div class='date-month-time'>
  <p class='date-month'>{{month}}</p>
  <p class='date-time'>{{time}}</p>
</div>
<div class='date-sun'>
  <div class='date-sunrise'>
    <img src='{{sunriseIcon}}' alt='Время рассвета' class='date-sunrise-icon' />
    <p class='date-sunrise-time'>{{sunriseTime}}</p>
  </div>
  <div class='date-sunset'>
    <img src='{{sunsetIcon}}' alt='Время заката' class='date-sunset-icon' />
    <p class='date-sunset-time'>{{sunsetTime}}</p>
  </div>
  </div>