<img src='{{icon}}' alt='' class='picture' />
<p class='city-title'>{{name}}, {{country}}</p>
<ul class='temperature-list'>
  <li class='temperature-item-one'>{{temp}}&deg</li>
  <li class='temperature-item'>
    <ul class='nim-max-temperature'>
      <li class='min-temperature'>
        <p class='min-temperature-item'>min</p>
        <p class='min-temperature-item2'>{{temp_min}}&deg</p>
      </li>
      <li class='max-temperature'>
        <p class='max-temperature-item'>max</p>
        <p class='max-temperature-item2'>{{temp_max}}&deg</p>
      </li>
    </ul>
  </li>
</ul>